@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  height: 100vh;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.background {
  background-image: linear-gradient(to right, white, lightblue);
  background-size: 200% 100%;
  animation: moveBackground 2s infinite alternate linear;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #000;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #774422;
  --color-2: #e4a9a8;
  --color-3: #005544;
}

.title-word-4 {
  --color-1: #3d8dae;
  --color-2: #002299;
  --color-3: #994499;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

.container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh;
}

.allign {
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}
